li {
    padding: 5px;
    margin: 5px;
}
  
.label {
    font-weight: bold;
}
  
.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}
  
.form-group {
    margin-bottom: 5px;
}

.content {
    text-align: center;
}

ul {
    list-style-position: inside;
}

body {
    background-color: orange;
}

.column {
    float: left;
    width: 50%;
    padding: 15px;
  }

.row:after {
  content: "";
  display: table;
  clear: both;
}

